body {
  font-family: Helvetica;
  text-align: center;
}

.banner {
  background-color: black;
  color: white;
}
.banner h1 {
  font-size: 70px;
  font-weight: bold;
}

.banner a {
  font-size: 18px;
  color: white;
  display: block;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#sub-banner {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-color: black;
}

.footer {
  color: white;
  background-color: dimgray;
}

.footer p {
  font-size: 11px;
}

.footer a{
  color: white;
}
