body {
  font-family: Helvetica;
  text-align: center;
}

.banner {
  color: white;
  background-image: url("../images/header.png");
}
.banner h1 {
  font-size: 70px;
  font-weight: bold;
}

.banner a {
  font-size: 18px;
  color: white;
  display: block;
  padding: 5px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#sub-banner {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/header.png");
}

.footer {
  color: white;
  background-color: dimgray;
  text-align: left;
}

.footer p {
  font-size: 11px;
  display: inline-block;
  margin-left: 10px;
}

.footer a{
  color: white;
  display: inline-block;
  margin-left: 10px;
}
